@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background: var(--background);
  color: var(--foreground);
}

@media print {
  header,
  aside,
  nav,
  .no-imprimir {
    display: none !important;
  }

  body,
  main {
    background: white !important;
  }

  main {
    max-width: none !important;
    padding: 0 !important;
  }
}